/*
 * Config
 */
define(['./Base'], function (Base) {
    console.log('SKIN: config called');
    var configs = {
		store_list: {
			'mydefaultstore': {
				views: {
					mydefaultstore: {
						someKey: 'someValue',
						htmlSource: '<h2>I am a view of my default store</h2>',
						subscriptions: [
							{
								channel: 'mydefaultstore',
								topic: 'doneCalculator'
							}
						]
					}
				},
				apps: {
					calculator: {
						someKey: 'someValue',
						subscriptions: [
							{
								channel: 'mydefaultstore',
								topic: 'doCalculator'
							}
						]
					}
				}
			}
		}
	};
    var _Config = new Base(configs);
    return _Config;
});