/*
 * Config
 */
define(['./Base'], function (Base) {
    console.log('SKIN: config called');
    var configs = {
		app_list: {
			'calculator': true
		}
	};
    var _Config = new Base(configs);
    return _Config;
});