/*
 * MyDefaultStore
 */
$(document).ready(function() {
	$(".options a").on("click", function(e) {
		e.preventDefault();
		if($(this).hasClass("active")) {
			return;
		}
		$(".options a").removeClass("active");
		$(this).addClass("active");
		var clickid = $(this).attr("id");
		$("#listdisplay").fadeOut(240, function() {
			if(clickid == "thumbnails-list"){
				console.log("SKIN: thumbnails view");
				$(this).addClass("thumbview");
			}
			else {
				console.log("SKIN: list view");
				$(this).removeClass("thumbview");
			}
			$("#listdisplay").fadeIn(200);
		});
	});
	// FrameWarp - Main
	// See also http://tutorialize.com/2012/07/framewarp-jquery-plugin
	var body = $('body'),
		win = $(window),
		popup, popupBG;

	var frameCache = {};
	var frameCacheDiv = $('<div class="frameCacheDiv">').appendTo('body');
	var currentIframe;

	$.fn.frameWarp = function(settings) {
		console.log('SKIN: MyDefaultStore frameWarp(settings) called');
		// to do
	};
	// FrameWarp - Helper Functions
	// Hide: remove the popup and dark background from the page.
	function hide(){
		console.log('SKIN: MyDefaultStore hide() called');
		if(currentIframe) {
			currentIframe.hide();
			currentIframe = null;
		}
		popupBG.remove();
		popup.remove();
	};
	// SetUpAPI: make two API methods available to the frame, 
	// if the page is from the same domain.
	function setUpAPI(iframe, settings) {
		console.log('SKIN: MyDefaultStore setUpAPI(iframe, settings) called');
		if(sameOrigin(settings.url)) {
			// Exposing a minimal API to the iframe
			iframe[0].contentWindow.frameWarp = {
				hide: hide,
				sendMessage: function(param) {
					return settings.onMessage(param);
				}
			};
		}
	};
	// SameOrigin: determine whether the page is from the same domain.
	function sameOrigin(url) {
		console.log('SKIN: MyDefaultStore sameOrigin(url) called');
		return (getOrigin(url) == getOrigin(location.href));
	};
	// GetOrigin: generate an origin string of the type: https://www.google.com
	// This includes the protocol and host.
	function getOrigin(url) {
		console.log('SKIN: MyDefaultStore getOrigin(url) called');
		var a = document.createElement('a');
		a.href = url;
		return a.protocol+'//'+a.hostname;
	};
});
